@media screen and (max-width: 650px){
    * {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    div {
        text-align: center;
        margin-top: 30px;
    }

    img {
        Width: 354px;
        Height: 317px;
        margin-top: 20%;
    }

    h1 {
        font-Weight: 900;
        font-Size: 50px;
        margin-top: 30px;
        Line-height: 60.95px;
        color: #515151;

    }

    h2 {
        font-Weight: 500;
        font-Size: 30px;
        Line-height: 36.57px;
        margin-top: 5px;
        color: #515151;

    }

    button {
        font-Weight: 700;
        font-Size: 28px;
        Line-height: 34.13px;
        width: 239px;
        height: 64px;
        margin-top: 20px;
        left: -1655px;
        border-radius: 50px;
        cursor: pointer;
        background: #ADFF00;
   
    }
    
}